{% load static %}
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/w3css/3/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'blog/school.css' %}">
<title>The School</title>
<body>

<!-- Navigation -->
<nav class="w3-bar w3-black navb">
  <a href="{% url 'blog-home' %}" class="w3-button w3-bar-item h1 w3-wide active">THE SCHOOL</a>
  <a href="{% url 'blog-home' %}" class="w3-button w3-bar-item pt">Home</a>
  <a href="{% url 'blog-students' %}" class="w3-button w3-bar-item pt">All students</a>
  <a href="{% url 'blog-logout' %}" class="w3-button w3-bar-item pt">Logout</a>

  
</nav>

<form class="form-inline" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="body1">
    <h2 class="w3-wide edite-title">Add student information</h2>
    <div class="timeline timeline-1">
      <div class="container container-1 right right-1">
        <div class="content purple-bg">
          
            {{ form.image }}
            {{ form.name }}
            {{ form.stage }}
            {{ form.age }}
          
        </div>
      </div>
      <div class="container container-1 left left-1">
        <div class="content purple-bg">
          <div style="padding:20px">
            <button style="background-color: #474e5d; text-shadow: 2px 2px 4px #000000;" type="submit" name="StudentRegisterBtn">Update</button>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-xlarge">
  <a href="#"><i class="fa fa-facebook-official white"></i></a>
  <a href="#"><i class="fa fa-pinterest-p white"></i></a>
  <a href="#"><i class="fa fa-twitter white"></i></a>
  <a href="#"><i class="fa fa-flickr white"></i></a>
  <a href="#"><i class="fa fa-linkedin white"></i></a>
</footer>

</body>
</html>

